
<mat-nav-list>
    <div class="logo">
      <p>LOGO</p>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item> <mat-icon>account_box</mat-icon> Employees </a>
    <a mat-list-item> <mat-icon>call</mat-icon> Contact</a>
    <a mat-list-item> <mat-icon>event_note</mat-icon> Events </a>
    <a mat-list-item> <mat-icon>place</mat-icon> Location </a>
    <a mat-list-item> <mat-icon>feedback</mat-icon> Feedback</a>
  </mat-nav-list>