<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Home</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">

  <form class="border p-3 rounded-3"  [formGroup]="homeform" (ngSubmit)="loginsubmited()">
    {{homeform.value| json}}
<div class="row g-0">
<div class="col text-center p- mb-3 bg-light">
<span class="fs-3">Login</span>
</div>
</div>
<div class="row">
  <div class="col mb-3">
  <label for="username" class="form-label">UserName</label>
  <input type="username" class="form-control" id="username" name="username" formControlName="username" >
  <div class="form-text text-danger" *ngIf="username.errors?.['required'] && (username.dirty|| username.touched) ">
    UserName is Required
  </div>
  </div>
  </div>


  <div class="row">
    <div class="col mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password" >
    <div class="form-text text-danger" *ngIf="password.errors?.['required'] && (password.dirty|| password.touched) ">
      Password is Required
    </div>
    <div class="form-text text-danger" *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength'] && (password.dirty|| password.touched) ">
      Password should be atleast 8 and at the  max 12 characters long
    </div>
    </div>
    </div>



    <div class="row">
      <div class="col 6 offset-3">
        <div class="d-grid">
          <button  type="submit" [disabled]="homeform.invalid"    class="btn btn-primary">Login</button>
        </div>
      
      </div>
      </div>
  
  
</form>
              </div>
            </div>
        </div>